In [1]:
import pandas as pd

In [2]:
ride_data = pd.read_csv('./data/ncr_ride_bookings.csv')
weather_data = pd.read_csv('./data/weather_data.csv')
ride_data.head()

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
0,2024-03-23,12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-11-29,18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,14.0,...,NaN,NaN,NaN,1.0,Vehicle Breakdown,237.0,5.73,NaN,NaN,UPI
2,2024-08-23,08:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.4,25.8,...,NaN,NaN,NaN,NaN,NaN,627.0,13.58,4.9,4.9,Debit Card
3,2024-10-21,17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,13.1,28.5,...,NaN,NaN,NaN,NaN,NaN,416.0,34.02,4.6,5.0,UPI
4,2024-09-16,22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.3,19.6,...,NaN,NaN,NaN,NaN,NaN,737.0,48.21,4.1,4.3,UPI

In [3]:
ride_data['event_dt'] = pd.to_datetime(
    ride_data['Date'].astype(str).str.strip() + ' ' + ride_data['Time'].astype(str).str.strip(),
    format='%Y-%m-%d %H:%M:%S',
    errors='coerce'
)
ride_data['event_time'] = ride_data['event_dt'].dt.time

In [4]:
ride_data

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method,event_dt,event_time
0,2024-03-23,12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-23 12:29:38,12:29:38
1,2024-11-29,18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,14.0,...,NaN,1.0,Vehicle Breakdown,237.0,5.73,NaN,NaN,UPI,2024-11-29 18:01:39,18:01:39
2,2024-08-23,08:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.4,25.8,...,NaN,NaN,NaN,627.0,13.58,4.9,4.9,Debit Card,2024-08-23 08:56:10,08:56:10
3,2024-10-21,17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,13.1,28.5,...,NaN,NaN,NaN,416.0,34.02,4.6,5.0,UPI,2024-10-21 17:17:25,17:17:25
4,2024-09-16,22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.3,19.6,...,NaN,NaN,NaN,737.0,48.21,4.1,4.3,UPI,2024-09-16 22:08:00,22:08:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,2024-11-11,19:34:01,"""CNR6500631""",Completed,"""CID4337371""",Go Mini,MG Road,Ghitorni,10.2,44.4,...,NaN,NaN,NaN,475.0,40.08,3.7,4.1,Uber Wallet,2024-11-11 19:34:01,19:34:01
149996,2024-11-24,15:55:09,"""CNR2468611""",Completed,"""CID2325623""",Go Mini,Golf Course Road,Akshardham,5.1,30.8,...,NaN,NaN,NaN,1093.0,21.31,4.8,5.0,UPI,2024-11-24 15:55:09,15:55:09
149997,2024-09-18,10:55:15,"""CNR6358306""",Completed,"""CID9925486""",Go Sedan,Satguru Ram Singh Marg,Jor Bagh,2.7,23.4,...,NaN,NaN,NaN,852.0,15.93,3.9,4.4,Cash,2024-09-18 10:55:15,10:55:15
149998,2024-10-05,07:53:34,"""CNR3030099""",Completed,"""CID9415487""",Auto,Ghaziabad,Saidulajab,6.9,39.6,...,NaN,NaN,NaN,333.0,45.54,4.1,3.7,UPI,2024-10-05 07:53:34,07:53:34
149999,2024-03-10,15:38:03,"""CNR3447390""",Completed,"""CID4108667""",Premier Sedan,Ashok Park Main,Gurgaon Sector 29,3.5,33.7,...,NaN,NaN,NaN,806.0,21.19,4.6,4.9,Credit Card,2024-03-10 15:38:03,15:38:03

In [5]:
weather_data['datetime'] = pd.to_datetime(weather_data['datetime'], errors='coerce')

ride_sorted = ride_data.sort_values('event_dt').reset_index(drop=True)
weather_sorted = weather_data.sort_values('datetime').reset_index(drop=True)

# 3) Nearest-time merge (set tolerance as needed, e.g., 30min/60min)
tolerance = pd.Timedelta('30min')  # max allowed gap between ride and weather time
rides_with_weather = pd.merge_asof(
    ride_sorted,
    weather_sorted,
    left_on='event_dt',
    right_on='datetime',
    direction='nearest',
    tolerance=tolerance,
    suffixes=('', '_wx')
)

rides_with_weather

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,cloudcover,visibility,solarradiation,solarenergy,uvindex,severerisk,conditions,icon,stations,raining
0,2024-01-01,00:19:34,"""CNR4352144""",Completed,"""CID8362794""",Bike,Udyog Vihar,Ambience Mall,10.8,38.9,...,0.0,0.6,0.0,0.0,0,NaN,Clear,fog,"VIDP,42181099999",False
1,2024-01-01,01:35:18,"""CNR9147645""",Completed,"""CID8300238""",Go Mini,Basai Dhankot,Madipur,8.5,15.1,...,1.2,0.6,0.0,0.0,0,NaN,Clear,fog,"42182099999,VIDP,42181099999",False
2,2024-01-01,01:37:50,"""CNR1009222""",Cancelled by Driver,"""CID2030746""",Go Sedan,Tughlakabad,Greater Kailash,7.4,NaN,...,1.2,0.6,0.0,0.0,0,NaN,Clear,fog,"42182099999,VIDP,42181099999",False
3,2024-01-01,01:48:03,"""CNR2740479""",Cancelled by Driver,"""CID3231181""",Auto,Palam Vihar,Kherki Daula Toll,5.6,NaN,...,1.2,0.6,0.0,0.0,0,NaN,Clear,fog,"42182099999,VIDP,42181099999",False
4,2024-01-01,01:49:56,"""CNR7650148""",Cancelled by Driver,"""CID3381661""",Go Sedan,Narsinghpur,Pulbangash,6.2,NaN,...,1.2,0.6,0.0,0.0,0,NaN,Clear,fog,"42182099999,VIDP,42181099999",False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,2024-12-30,22:58:00,"""CNR9030698""",Completed,"""CID6939658""",Bike,DLF Phase 3,Okhla,6.9,35.8,...,29.2,0.6,0.0,0.0,0,NaN,Partially cloudy,fog,"42182099999,VIDP,42181099999",False
149996,2024-12-30,23:03:14,"""CNR1507833""",Completed,"""CID9905090""",eBike,Saket,Noida Sector 62,7.9,33.6,...,29.2,0.6,0.0,0.0,0,NaN,Partially cloudy,fog,"42182099999,VIDP,42181099999",False
149997,2024-12-30,23:17:05,"""CNR2265113""",Completed,"""CID4170406""",Go Mini,GTB Nagar,Anand Vihar ISBT,9.9,39.9,...,29.2,0.6,0.0,0.0,0,NaN,Partially cloudy,fog,"42182099999,VIDP,42181099999",False
149998,2024-12-30,23:21:12,"""CNR4066733""",Completed,"""CID8938559""",Uber XL,Ashram,Vasant Kunj,2.6,26.7,...,29.2,0.6,0.0,0.0,0,NaN,Partially cloudy,fog,"42182099999,VIDP,42181099999",False
149999,2024-12-30,23:36:11,"""CNR6915581""",Incomplete,"""CID5185745""",Auto,Pitampura,Nehru Place,3.5,11.9,...,50.0,0.6,0.0,0.0,0,NaN,Partially cloudy,fog,"VIDP,42181099999",False

In [6]:
rides_with_weather = rides_with_weather.drop(columns=['event_dt', 'datetime', 'event_time'])

In [7]:
rides_with_weather['datetime'] = pd.to_datetime(rides_with_weather['Date'] + ' ' + rides_with_weather['Time'])
rides_with_weather['hour'] = rides_with_weather['datetime'].dt.hour
rides_with_weather['minute'] = rides_with_weather['datetime'].dt.minute

In [8]:
rides_with_weather.drop_duplicates(subset=["Booking ID"], inplace=True)

In [9]:
df = rides_with_weather.drop(columns=[
    'Date', 'Time', 'datetime', 'Booking ID', 'Customer ID', 'Cancelled Rides by Customer', 'Cancelled Rides by Driver', 'Incomplete Rides',
    'stations', 'icon', 'snow', 'snowdepth', 'precipprob', 'precip', 'Payment Method'
])

In [10]:
df

,Booking Status,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,Reason for cancelling by Customer,Driver Cancellation Reason,Incomplete Rides Reason,Booking Value,...,cloudcover,visibility,solarradiation,solarenergy,uvindex,severerisk,conditions,raining,hour,minute
0,Completed,Bike,Udyog Vihar,Ambience Mall,10.8,38.9,NaN,NaN,NaN,99.0,...,0.0,0.6,0.0,0.0,0,NaN,Clear,False,0,19
1,Completed,Go Mini,Basai Dhankot,Madipur,8.5,15.1,NaN,NaN,NaN,114.0,...,1.2,0.6,0.0,0.0,0,NaN,Clear,False,1,35
2,Cancelled by Driver,Go Sedan,Tughlakabad,Greater Kailash,7.4,NaN,NaN,More than permitted people in there,NaN,NaN,...,1.2,0.6,0.0,0.0,0,NaN,Clear,False,1,37
3,Cancelled by Driver,Auto,Palam Vihar,Kherki Daula Toll,5.6,NaN,NaN,Personal & Car related issues,NaN,NaN,...,1.2,0.6,0.0,0.0,0,NaN,Clear,False,1,48
4,Cancelled by Driver,Go Sedan,Narsinghpur,Pulbangash,6.2,NaN,NaN,More than permitted people in there,NaN,NaN,...,1.2,0.6,0.0,0.0,0,NaN,Clear,False,1,49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,Completed,Bike,DLF Phase 3,Okhla,6.9,35.8,NaN,NaN,NaN,440.0,...,29.2,0.6,0.0,0.0,0,NaN,Partially cloudy,False,22,58
149996,Completed,eBike,Saket,Noida Sector 62,7.9,33.6,NaN,NaN,NaN,279.0,...,29.2,0.6,0.0,0.0,0,NaN,Partially cloudy,False,23,3
149997,Completed,Go Mini,GTB Nagar,Anand Vihar ISBT,9.9,39.9,NaN,NaN,NaN,1855.0,...,29.2,0.6,0.0,0.0,0,NaN,Partially cloudy,False,23,17
149998,Completed,Uber XL,Ashram,Vasant Kunj,2.6,26.7,NaN,NaN,NaN,520.0,...,29.2,0.6,0.0,0.0,0,NaN,Partially cloudy,False,23,21
149999,Incomplete,Auto,Pitampura,Nehru Place,3.5,11.9,NaN,NaN,Customer Demand,571.0,...,50.0,0.6,0.0,0.0,0,NaN,Partially cloudy,False,23,36

In [11]:
N = 10
high_cardinality_cols = ['Pickup Location', 'Drop Location']
for col in high_cardinality_cols:
    # Get the top N categories
    top_categories = df[col].value_counts().nlargest(N).index
    print(f"Top {N} categories in '{col}': {list(top_categories)}")

    # Replace all other categories with 'Other'
    df[col] = df[col].where(df[col].isin(top_categories), 'Other')

Top 10 categories in 'Pickup Location': ['Khandsa', 'Barakhamba Road', 'Saket', 'Badarpur', 'Madipur', 'AIIMS', 'Pragati Maidan', 'Mehrauli', 'Dwarka Sector 21', 'Pataudi Chowk']
Top 10 categories in 'Drop Location': ['Ashram', 'Basai Dhankot', 'Narsinghpur', 'Kalkaji', 'Kashmere Gate ISBT', 'Lok Kalyan Marg', 'Cyber Hub', 'Udyog Vihar', 'Lajpat Nagar', 'Shastri Nagar']

In [12]:
cols_to_encode = [
    'Booking Status', 'Vehicle Type',
    'Pickup Location', 'Drop Location'
]
df = pd.get_dummies(df, columns=cols_to_encode, drop_first=True, dummy_na=False)
df

,Avg VTAT,Avg CTAT,Reason for cancelling by Customer,Driver Cancellation Reason,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,temp,...,Drop Location_Basai Dhankot,Drop Location_Cyber Hub,Drop Location_Kalkaji,Drop Location_Kashmere Gate ISBT,Drop Location_Lajpat Nagar,Drop Location_Lok Kalyan Marg,Drop Location_Narsinghpur,Drop Location_Other,Drop Location_Shastri Nagar,Drop Location_Udyog Vihar
0,10.8,38.9,NaN,NaN,NaN,99.0,37.98,4.8,4.8,53.6,...,False,False,False,False,False,False,False,True,False,False
1,8.5,15.1,NaN,NaN,NaN,114.0,39.29,4.2,4.1,52.1,...,False,False,False,False,False,False,False,True,False,False
2,7.4,NaN,NaN,More than permitted people in there,NaN,NaN,NaN,NaN,NaN,52.1,...,False,False,False,False,False,False,False,True,False,False
3,5.6,NaN,NaN,Personal & Car related issues,NaN,NaN,NaN,NaN,NaN,52.1,...,False,False,False,False,False,False,False,True,False,False
4,6.2,NaN,NaN,More than permitted people in there,NaN,NaN,NaN,NaN,NaN,52.1,...,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,6.9,35.8,NaN,NaN,NaN,440.0,12.85,4.4,4.8,51.0,...,False,False,False,False,False,False,False,True,False,False
149996,7.9,33.6,NaN,NaN,NaN,279.0,39.36,3.8,4.3,51.0,...,False,False,False,False,False,False,False,True,False,False
149997,9.9,39.9,NaN,NaN,NaN,1855.0,38.91,4.3,4.6,51.0,...,False,False,False,False,False,False,False,True,False,False
149998,2.6,26.7,NaN,NaN,NaN,520.0,36.37,5.0,4.3,51.0,...,False,False,False,False,False,False,False,True,False,False
149999,3.5,11.9,NaN,NaN,Customer Demand,571.0,2.67,NaN,NaN,51.8,...,False,False,False,False,False,False,False,True,False,False

In [13]:
from sklearn.experimental import enable_iterative_imputer  # noqa: F401
from sklearn.impute import IterativeImputer
from sklearn.linear_model import BayesianRidge
import numpy as np

targets = ['Avg VTAT', 'Avg CTAT']
for c in targets:
    df[c] = pd.to_numeric(df[c], errors='coerce')

num_cols = df.select_dtypes(include=[np.number]).columns

imputer = IterativeImputer(
    estimator=BayesianRidge(),
    max_iter=100,
    initial_strategy='median',
    imputation_order='ascending',
    skip_complete=True,
    sample_posterior=False,
    tol=1e-3,
    random_state=42
)

imputed = imputer.fit_transform(df[num_cols])
imputed_df = pd.DataFrame(imputed, columns=num_cols, index=df.index)

df[targets] = imputed_df[targets]

In [14]:
df

,Avg VTAT,Avg CTAT,Reason for cancelling by Customer,Driver Cancellation Reason,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,temp,...,Drop Location_Basai Dhankot,Drop Location_Cyber Hub,Drop Location_Kalkaji,Drop Location_Kashmere Gate ISBT,Drop Location_Lajpat Nagar,Drop Location_Lok Kalyan Marg,Drop Location_Narsinghpur,Drop Location_Other,Drop Location_Shastri Nagar,Drop Location_Udyog Vihar
0,10.8,38.900000,NaN,NaN,NaN,99.0,37.98,4.8,4.8,53.6,...,False,False,False,False,False,False,False,True,False,False
1,8.5,15.100000,NaN,NaN,NaN,114.0,39.29,4.2,4.1,52.1,...,False,False,False,False,False,False,False,True,False,False
2,7.4,29.254333,NaN,More than permitted people in there,NaN,NaN,NaN,NaN,NaN,52.1,...,False,False,False,False,False,False,False,True,False,False
3,5.6,29.006367,NaN,Personal & Car related issues,NaN,NaN,NaN,NaN,NaN,52.1,...,False,False,False,False,False,False,False,True,False,False
4,6.2,29.097795,NaN,More than permitted people in there,NaN,NaN,NaN,NaN,NaN,52.1,...,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,6.9,35.800000,NaN,NaN,NaN,440.0,12.85,4.4,4.8,51.0,...,False,False,False,False,False,False,False,True,False,False
149996,7.9,33.600000,NaN,NaN,NaN,279.0,39.36,3.8,4.3,51.0,...,False,False,False,False,False,False,False,True,False,False
149997,9.9,39.900000,NaN,NaN,NaN,1855.0,38.91,4.3,4.6,51.0,...,False,False,False,False,False,False,False,True,False,False
149998,2.6,26.700000,NaN,NaN,NaN,520.0,36.37,5.0,4.3,51.0,...,False,False,False,False,False,False,False,True,False,False
149999,3.5,11.900000,NaN,NaN,Customer Demand,571.0,2.67,NaN,NaN,51.8,...,False,False,False,False,False,False,False,True,False,False

In [15]:
df.to_csv('./data/rides_with_weather.csv', index=False)